@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/*ОСНОВНЫЕ НАСТРОЙКИ СТРАНИЦЫ*/
body {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* СТИЛЬ ДЛЯ НАЗВАНИЯ ДАШБОРДА */
.navbar-brand {
    font-family: 'Inter', 'Arial', sans-serif; 
    font-size: 28px;                 
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;                   
}

/* ВСЕ КАРТОЧКИ НА СТРАНИЦЕ СТИЛИЗИРУЕМ*/
.card {
    border: 1px solid #e0e0e0;                     
    background-color: #ffffff;
    margin-bottom: 10px;                  
    border-radius: 4px;
}

.card-body {
    padding: 10px; 
}

/*ПОЛЕ ДЛЯ ВВОДА ТЕКСТА (поиск города) */
.form-control {
    border-radius: 8px;      
    border: 1px solid #e0e0e0;   
    padding: 12px;    
    font-family: 'Inter', 'Arial', sans-serif;
}

/*ОСОБАЯ КАРТОЧКА С ИНФОРМАЦИЕЙ О ГОРОДЕ */
.city-info-card {
    background: #ffffff;  
    border: 1px solid #e0e0e0; 
    color: #333333;                          
}

/*ЗАГОЛОВОК РАЗДЕЛА "КАЧЕСТВО ВОЗДУХА" */
.section-title {
    color: #333333;                     
    font-weight: 600;                 
    text-align: center;              
    margin-bottom: 30px;        
    font-family: 'Inter', 'Arial', sans-serif;
}

/* КАРТОЧКА ДЛЯ ПОИСКА ГОРОДА */
.search-card {
    background: #ffffff;
}

/* ОФОРМЛЕНИЕ ГРАФИКОВ */
.dash-graph {
    border-radius: 8px; 
    overflow: hidden; 
}
